@import url(https://fonts.googleapis.com/css?family=Lobster);
* { margin:0; padding:0; box-sizing:border-box; }
h1 {
	font-size: 72px;
	font-family: 'Lobster', cursive;
	background-image: url(images/volcanoe.jpg);
}

body {
	font-family: Arial, sans-serif;
	text-align: center;
  	background-color: #669999;
  	padding: 10px 0px;
 	margin: 0px;
}
h2 { 
font-size: 36px;
padding: 10px;
line-height: 1.20em;
text-align: center;
}

p {color: black;
    font-family: arial;
    font-size: 1em;
    width: 400px;
    text-align: center;
    
}
