@import url(https://fonts.googleapis.com/css?family=Lobster);
h1 {
	font-size: 72px;
	font-family: 'Lobster', cursive;
}
h2 { 
style="font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif; text-align: center; color: #363535;
font-size: 36px;
line-height: 1.20em;
}
p {
    color: black;
    font-size: 1em;
    width: 400px;
    text-align: auto;
    
    
{
